node_modules/
dist/
.env
.env.*
!.env.example
.DS_Store
.idea/
.vscode/
coverage/
.next/
*.log
data/
*.sqlite
*.sqlite-wal
*.sqlite-shm
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
!.yarn/install-state.gz
